.card-container {
  border: solid 2px #deeadf;
  border-radius: 7px;
  display: flex;
  width: 100%;
}

.card-icon {

  background-color: #deeadf;
  color: black;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
}

p {
  color: black;
  margin: 0;
}